DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/db_name
PROJECT_NAME=Marketing Management API
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001,http://localhost:3005,http://127.0.0.1:3005
